<div id="<%= dom_id upload %>">
  <p>
    <strong>Image:</strong>
    <%= upload.image %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= upload.title %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= upload.body %>
  </p>

</div>
