<p style="color: green"><%= notice %></p>


<div id="uploads">
  <% @upload.each do |upload| %>
  <%= render upload %>
    <p>
      <%= link_to "投稿を見る", upload %>
    </p>
  <% end %>
</div>

<%= link_to "New post", new_upload_path %>

